body {
    font-family: Arial;
    margin: 0;
  }
  nav {
    display: flex;
    height: 70px;
}
  .secondary-block {
    color:white;
    background-color: rgb(4, 117, 186);
}
  a {
    color: rgb(255, 255, 255);
  }
 header {
     text-align: center;
     padding: 40px;
 }
 .content {
    max-width: 800px;
    margin: 0 auto;
 }
 header h2 {
     color: rgb(4, 117, 186);
 }
 header img {
     width: 150px;
     border-radius: 75px;
     box-shadow: 3px 3px 6px rgb(170, 170, 170);
 }
 section {
     padding: 40px;
 }
  #xp ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #xp li {
    margin-bottom: 10px;
  }
  #xp aside {
    float: right;
  }
  #education ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #education li {
    margin-bottom: 10px;
  }
  #education aside {
    float: right;
  }
  footer {
    padding: 40px;
  }
  footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .links {
    margin-bottom: 25px;
    width: 390px;
    display: inline-block;
  }
  .comp {
    text-align: right;
  }
  .interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
    display: flex;
}
.inter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 2em;
}
figcaption{
  text-align: center;

\\\\ NAVBAR
}
 nav h2 {
  margin: 0;
  padding: 20,0,20,15;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(4, 117, 186);
}
nav li {
  float: left;
  border-right: 1px solid #bbb;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: rgb(42, 173, 255);
}
.secondary-block .barrenav {
  padding-left: 100px;
  position: fixed;
  top: 0;
  width: 296px;
}
aside {
   font-size: 1.4em;
 }